---
import { getLaunchBy, getLatestLaunches } from "../../services/spacex.api";
import { type Doc } from "../../types/api";
import Layout from "../../layouts/Layout.astro";

// Se renderiza en server al indicarle el flag prerender false
export const prerender = false;

const { id } = Astro.params;

// Solo para el servidor
// if (!id) {
//     Astro.redirect('/');
// }

let launch: Doc;
if (id) {
  launch = await getLaunchBy({ id });
}

// export async function getStaticPaths() {
//   // Llamar a un API externa para saber todas las ids (páginas) que se deben generar de forma estática
//   // en el momento de realizar el build en el servidor

//   const launches = await getLatestLaunches();

//   return launches.map(({ id }) => ({
//     params: { id },
//   }));
// }
---

<Layout title={`Lanzamiento ${id}`}>
  <article class="flex gap-y-4 flex-col">
    <img
      class="w-52 h-auto"
      src={launch?.links?.patch.small}
      alt={launch?.name}
    />
    <h2 class="text-4xl text-white font-bold">Lanzamiento #{launch?.name}</h2>
    <p class="text-lg">{launch?.details}</p>
  </article>
</Layout>
